<div class="bg-white w-[40vw] min-h-[50vh] rounded-md font-semibold">
    <h1 class="text-4xl text-center p-2">Sign Up</h1>
    <form
      action=""
   
      class="w-full min-h-[47vh]  flex flex-col justify-evenly items-center"
    >
      <div class="flex flex-col justify-around items-center h-[15vh] w-full">
        <input
          type="text"
          formControlName="usuario"
          placeholder="Usuario"
          class="p-2 shadow-md bg-zinc-200 w-3/5 rounded-md text-center"
        />
        <span
          class="text-red-500"
          
        >
        
        no va pone na dique
        </span>
        <input
          type="password"
          formControlName="password"
          placeholder="Contrase;a"
          class="p-2 shadow-md bg-zinc-200 w-3/5 rounded-md text-center"
        />
        <span
          class="text-red-500"
       
        >
        y eso pana
        </span>
        <input
          type="password"
          formControlName="password"
          placeholder="Contrase;a"
          class="p-2 shadow-md bg-zinc-200 w-3/5 rounded-md text-center"
        />
        <span
          class="text-red-500"
       
        >
        y eso pana
        </span>
      </div>
      <div class="w-full flex flex-col items-center">
          <div class="w-full flex justify-evenly text-white">
            <button
              type="submit"
              class="py-3 px-8 drop-shadow-sm bg-slate-800 rounded-sm"
              
            >
              Aceptar
            </button>
            <button class="py-3 px-8 drop-shadow-sm bg-slate-800 rounded-sm">
              Volver
            </button>
        </div>
        <a href="" class="border-b-2">Crear cuenta</a>
      </div>
    </form>
  </div>
  