<div class="w-full min-h-screen grid place-items-center text-white">
    <div class="min-h-[30vh] flex flex-col  justify-evenly items-center">
        <h1 class="text-6xl font-semibold drop-shadow-lg">Preguntas y Respuestas</h1>
        <hr style="width: 30%; border-width: 2px; " >
        <div class="w-full flex justify-evenly">
            <button class="py-4 px-8 shadow-2xl  bg-slate-800 rounded-sm">Preguntas</button>
            <button class="py-4 px-8 shadow-2xl  bg-slate-800 rounded-sm" routerLink="/login">Ingresar</button>
        </div>
    </div>
</div>